# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### ->  Some of the popular languages that Data Scientists use are:
    
    1) Python
    2) R
    3) C++
    4) Julia

#### -> Some of the commonly used libraries used by Data Scientists include:

    1) Pandas
    2) Numpy
    3) Matplotlib

#### -> Some tools for data science:

| Data Science Tools | 
| --- |
| Python | 
| --- |
| R | 
| --- |
| SQL |

### Below is an example of evaluating arithmetic expressions in Python:
It is a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

### the following code snippet will convert 200 minutes to hours by diving by 60

In [2]:
answer = 200/60
print('Thus, the number of hours is:', answer)

Thus, the number of hours is: 3.3333333333333335

### Objectives of this assignment:
   * getting familiar with Jupyter notebook
   * Listing popular tools for data science
   * Listing popular languages for data science
   * evaluating arithmetic expressions

## Author:

Avantika Bhattacharya